 <% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
        <%= link_to "記事を書く", new_article_path , class: "btn btn01" %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-5">
      <h3>Article Feed</h3>
      <%= render 'shared/feed' %>
    </div>
    <div class="col-md-3">
      <h5>最近のコメント</h5>
      <%= render 'comments/comment' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
  <h1>My Favorite Plants</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path , class: "btn btn01" %>
  </div>
<% end %> 
