<% provide(:title, "記事を作成") %>
<h1>記事を作成</h1>
<div class ="article_form">
  <%= form_with(model: @article) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_area :title, placeholder: "Compose new article..." %>

      <%= f.label :content %>
      <%= f.text_area :content, placeholder: "Compose new article..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
    <span class="image">
      <%= f.file_field :image, accept: "image/jpeg, image/gif, image/png" %>
    </span>
  <% end %>
</div>
