<%= form_with(model: @article) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title, placeholder: "Compose new article..." %>

    <%= f.label :content %>
    <%= f.text_area :content, placeholder: "Compose new article..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
