<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "My Plants", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "人気記事",   '#' %></li>
        <li><%= link_to "カテゴリー",   '#' %></li>
        <li><%= link_to "季節の花", '#' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ゲストログイン", '#',class: "btn btn01" %></li>
        <li><%= link_to "ログイン", '#',class: "btn btn01" %></li>
        <li><%= link_to "新規作成", '#', class: "btn  btn01" %></li>
      </ul>
    </nav>
  </div>
</header>